<!-- Record Page -->
<div{{ attributes }}> <!-- //wrapper -->
  {% if view_mode == 'list' and record.search_results %}
  {{ record.search_results }}
  {% else %}
  {% set title = {
    '#type':   'processed_text',
    '#text':    record.title,
    '#format':  'edan_html',
  } %}
  <div class="title-wrapper">
    <{{ title_wrapper }} class="edan-record__title">{{ title|raw }}</{{ title_wrapper }}>
</div>
{% if (record.fields) %}
  <div class="content-wrapper">
    <div class="inner">
      <div class="content">
        {{ media }}

        {% if record.fields %}
          {% for key,field in record.fields %}
          <div class="{{ key|replace({':' : '-'})|clean_class }}">

            {% if field is iterable %}
              {{ field }}
            {% else %}
                {% set body = {
                  '#type':   'processed_text',
                  '#text':    field,
                  '#format':  'edan_html',
                } %}
                {{ body }}
            {% endif %}
          </div>

          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% if record.menuLinks %}
      <div class="og-menu">
        {{ record.menuLinks }}
      </div>
    {% endif %}
  </div><!-- //content-wrapper -->
{% endif %}
    {% if record.search_results %}
      {{ record.search_results }}
    {% endif %}
  {% endif %}
</div><!-- //wrapper -->
