	
    {#
/**
 * @file
 * Abstract implementation of Horizontal Tabs
 * Available variables:
 * tabs = the array of tab content
 * tab_id = unique id for each rendered tab. 
 * label = tab label
 * content = tab content
 
#}
{{ attach_library('tailwind_nzp/alpine_h_tabs') }}
{%set classes = "nav-link block font-semi-bold leading-tight pr-6  py-2 hover:border-transparent hover:bg-off-white focus:border-transparent" %}

{% import directory ~ '/components/utils/macro.twig' as macro %}

{# tab labels #}
<div class="tab-wrapper container mx-auto" x-data="h_tabs" >
    <ul class="nav nav-tabs flex flex-col md:flex-row flex-wrap list-none border-lightestgray border-b-2 pl-0 mb-4" id="tabs-tab" role="tablist" data-tabs="{{tab_id}}">
        {% for key, label in tab_labels %}
            <li  @click.prevent="openTab = {{key + 1}}" class="nav-item">
               <a :class="openTab === {{key + 1}} ? activeClasses : inactiveClasses" class="{{classes}}" href="#">{{ label }}</a>
            </li>
        {% endfor %}
    </ul>
    {# tab content #}
    {% for key, content in tab_content %}
        <div class="p-4" x-show="openTab === {{key+1}}">
           {{content}}

         </div>
    {% endfor %}
</div>