	
    {#
/**
 * @file
 * Abstract implementation of Horizontal Tabs
 * Available variables:
 * tabs = the array of tab content
 * tab_id = unique id for each rendered tab. 
 * label = tab label
 * content = tab content
 
#}
{{ attach_library('tailwind_nzp/alpine_h_tabs') }}
{%set classes = "flex content-center h-14 px-4 items-center nav-link block leading-tight hover:border-transparent hover:bg-white" %}

{% import directory ~ '/components/utils/macro.twig' as macro %}

{# tab labels #}
<div class="shadow-md tab-wrapper container mx-auto" x-data="h_tabs" >
    <ul class="bg-white nav nav-tabs flex flex-col md:flex-row flex-wrap list-none pl-0" id="tabs-tab" role="tablist" data-tabs="{{tab_id}}">
        {% for key, label in tab_labels %}
            <li  @click.prevent="openTab = {{key + 1}}" class="not-prose m-0 p-0">
               <a :class="openTab === {{key + 1}} ? activeClasses : inactiveClasses" class="{{classes}}" href="#">{{ label }}</a>
            </li>
        {% endfor %}
    </ul>
    {# tab content #}
    {% for key, content in tab_content %}
        <div class="p-4" x-show="openTab === {{key+1}}">
           {{content}}

         </div>
    {% endfor %}
</div>