{{ attach_library('tailwind_nzp/teaser_styles_js') }}
<div class="border-t-2 border-gray">
  <div class="w-full lg:max-w-full min-h-[150px] lg:flex">

    {% if image|render %}
      <div class="teaser-img-container h-48 lg:h-auto flex-none bg-cover text-center overflow-hidden">
        {{ image }}
      </div>
    {% endif %}
    <div class="card-horizontal--teaser p-4">
        <div class="text-xs strong uppercase mb-2">
        {{ authored_date }}
      </div>
      <a href="{{ link }}"><h4 class="font-bold text-2xl">{{ title }}</h4></a>
 
      <div class="text-sm">
        {{ summary }}
      </div> 
    </div>
  </div>
</div>
