{#
/**
 * @file
 * Default theme implementation for a one column layout.
 *
 * This template provides a two column display layout with full width areas at
 * the top, bottom and in the middle.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
 

{% if content %}
    <{{settings.html_container_elements}} {{ attributes.addClass(settings.container_classes).addClass(settings.custom_classes).addClass(settings.background_color).addClass('mx-auto', 'relative') }} >
       {% if content.content %}         
            <div {{region_attributes.content}} >
                {{ content.content }}
            </div>
        {% endif %}
    </{{settings.html_container_elements}}>
{% endif %}