{# Read values from secondary feature paragraph type and assign to variables #}
{% set skin = feature_bg_options %}
{% set image_placement = feature_placement_options %}

{# Assign color classes based on variable #}
{% if 'Sap Green' in skin %}
    {% set bgcolor = 'bg-sap-green' %}
    {% set textcolor = 'text-white' %}
    {% set buttontextcolor = 'text-white' %}
    {% set buttonbordercolor = 'border-body' %}
    {% set bgbutton = 'bg-tea-green' %}    
{% elseif 'Blue Sapphire' in skin %}
    {% set bgcolor = 'bg-blue-sapphire' %}
    {% set textcolor = 'text-white' %}
    {% set buttontextcolor = 'text-white' %} 
    {% set buttonbordercolor = 'border-white' %}    
    {% set bgbutton = 'bg-blue-sapphire' %}       
{% elseif 'Tea Green' in skin  %}
    {% set bgcolor = 'bg-tea-green' %}
    {% set textcolor = 'text-inherit' %}
    {% set buttontextcolor = 'text-body' %}  
    {% set buttonbordercolor = 'border-body' %}    
    {% set bgbutton = 'bg-tea-green' %}
{% elseif 'Sizzling Red' in skin  %}
    {% set bgcolor = 'bg-sizzling-red' %}
    {% set textcolor = 'text-inherit' %}
    {% set buttontextcolor = 'text-body' %}  
    {% set buttonbordercolor = 'border-body' %}    
    {% set bgbutton = 'bg-sizzling-red' %}
{% elseif 'Cyber Yellow' in skin  %}
    {% set bgcolor = 'bg-cyber-yellow' %}
    {% set textcolor = 'text-inherit' %}
    {% set buttontextcolor = 'text-body' %}  
    {% set buttonbordercolor = 'border-body' %}    
    {% set bgbutton = 'bg-cyber-yellow' %}            
{% else %}
    {% set bgcolor = 'bg-oxford-blue' %}
    {% set textcolor = 'text-white' %}
    {% set buttontextcolor = 'text-white' %}   
    {% set buttonbordercolor = 'border-white' %}    
    {% set bgbutton = 'bg-oxford-blue' %}     
{% endif %}

{# Assign image placement class based on variable #}
{% if 'Right' in image_placement %}
    {% set start_column = 'lg:order-last' %}
{% else %}
    {% set start_column = 'lg:order-first' %}
{% endif %}


  <div  class=" grid grid-cols-1 lg:grid-cols-2 {{ bgcolor }} min-h-[300px]">
        <div class="stretch {{ start_column }} ">
            {{ feature_image }}
        </div>
        <div class="flex flex-col justify-center m-0 p-8">
            <h2 class="{{ textcolor }} m-0">
                {{ feature_title }}
            </h2>
            <div class=" {{ textcolor }}">
                {{ feature_description }}
            </div>
                <a href="{{ feature_link_url }}" class="{{ buttontextcolor }} font-bold border {{ buttonbordercolor }} w-auto rounded py-2 px-6 max-w-fit">
                    {{ feature_link_text }}
                </a>
        </div>             
  </div>