{% set skin = feature_options %}

{% if 'Navy Blue' in skin %}
    {% set bgcolor = 'bg-white' %}
    {% set color = 'text-inherit' %}
    {% set buttonbg = 'bg-tea-green' %}
    {% set buttontext = 'text-black' %}
{% else %}
    {% set bgcolor = 'bg-blue-sapphire' %}
    {% set color = 'text-white' %}
    {% set buttonbg = 'bg-inherit' %}   
    {% set buttontext = 'text-white' %}    
{% endif %}

<div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 {{ bgcolor }}">
    <div class="stretch">
        {{ feature_image }}
    </div>
    <div class="flex flex-col justify-center">
        <h2 class="{{ color }} mb-2 mt-4 ml-4 lg:ml-0">
            {{ feature_title }}
        </h2>
        <h3 class="{{ color }} mb-2 ml-4 lg:ml-0">
            {{ feature_subtitle }}
        </h3>
        <div class="{{ color }} mr-4 ml-4 lg:ml-0">
            {{ feature_description }}
        </div>
        <button class="ml-4 lg:ml-0 my-8 text-left">
            <a href="{{ feature_link_url }}" class="{{ buttonbg }} {{ buttontext }} border rounded py-2 px-6">
                {{ feature_link_text }}
            </a>
        </button>
    </div>             
</div>
