{#
/**
 */
#}
{{ form.messages }}
<div class="poll">
  <div class="vote-form container mx-auto">
      <h2 class="block-title poll-question">{{ question }}</h3>

    {{ form.choice }}

    {{ form.actions }}
  </div>
{{ form|without('actions', 'choice', 'messages', 'question') }}
</div>
